---
import Layout from "@/layouts/Layout.astro";
import "@fontsource/lato";
import Intro from "./Intro.astro";
import Skills from "./Skills.astro";
import SectionContainer from "./SectionContainer.astro";
import Projects from "./Projects.astro";
import Experience from "./Experience.astro";
import About from "./About.astro";
import Contact from "./Contact.astro";
import Footer from "./Footer.astro";
---

<Layout title="Pedro Gochman - Web developer" description="Pedro Gochman's portfolio">
  <main>
    <SectionContainer>
      <Intro />
    </SectionContainer>

    <SectionContainer id="skills">
      <Skills />
    </SectionContainer>

    <SectionContainer id="projects">
      <Projects />
    </SectionContainer>

    <SectionContainer id="experience">
      <Experience/>
    </SectionContainer>

    <SectionContainer id="about">
      <About />
    </SectionContainer>

    <SectionContainer id="contact">
      <Contact />
    </SectionContainer>
  </main>
</Layout>

<style>
  body {
    font-family: "Lato", sans-serif;
  }
</style>
