---
import SectionContainer from "./SectionContainer.astro";
import TechBadge from "@/components/TechBadge.astro"
import AstroIcon from "@/icons/AstroIcon.astro";
import CSSIcon from "@/icons/CSSIcon.astro";
import ExpressIcon from "@/icons/ExpressIcon.astro";
import HTMLIcon from "@/icons/HTMLIcon.astro";
import JavaScriptIcon from "@/icons/JavaScriptIcon.astro";
import NextIcon from "@/icons/NextIcon.astro";
import NodeIcon from "@/icons/NodeIcon.astro";
import PostgreSQLIcon from "@/icons/PostgreSQLIcon.astro";
import ReactIcon from "@/icons/ReactIcon.astro";
import TailwindIcon from "@/icons/TailwindIcon.astro";

const TECHNOLOGIES = [
    {
        name: "HTML",
        icon: HTMLIcon
    },
    {
        name: "JavaScript",
        icon: JavaScriptIcon
    },
    {
        name: "CSS",
        icon: CSSIcon
    },
    {
        name: "Tailwind",
        icon: TailwindIcon
    },
    {
        name: "NextJS",
        icon: NextIcon
    },
    {
        name: "NodeJS",
        icon: NodeIcon
    },
    {
        name: "React",
        icon: ReactIcon
    },
    {
        name: "Astro",
        icon: AstroIcon
    },
    {
        name: "Express",
        icon: ExpressIcon
    },
    {
        name: "PostgreSQL",
        icon: PostgreSQLIcon
    }

]

---

<SectionContainer>
    <div>
        <h1 class="lg:text-3xl text-xl text-center flex w-full justify-center">Tecnologías</h1>
        <div class="justify-center flex flex-wrap">
            {TECHNOLOGIES.map((tech) =>{
                return <TechBadge class="flex-col" ><tech.icon class="size-16 sm:size-24"/> {tech.name}</TechBadge>
            })}
        </div>
    </div>
</SectionContainer>