---
import TechBadge from "@/src/components/TechBadge.astro"
import TECHNOLOGIES from "@/src/data/techs"

import { getI18N } from "@/src/i18n";

const {currentLocale} = Astro

const i18n = getI18N({currentLocale})

import CodeIcon from "@/src/icons/CodeIcon.astro";

---

<div>
    <h1 class="lg:text-3xl text-xl text-center flex w-full justify-center items-center"><CodeIcon /> {i18n.SKILLS}</h1>
    <div class="justify-center flex flex-wrap sm:min-w-[540px] my-6">
        {TECHNOLOGIES.map((tech) =>{
            return <TechBadge class="flex-col" ><tech.icon class="size-16 sm:size-24"/> {tech.name}</TechBadge>
        })}
    </div>
</div>