---
interface Props {
	title: string;
	description: string
}

const { title, description } = Astro.props;
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
---

<!doctype html>
<html lang="es" class=" inset-0 w-full h-100vh -z-10 bg-white [background:radial-gradient(80%_80%_at_50%_10%,#fff_20%,#A2C397_120%)]">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
